<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cn0388.myapp" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".testdraw"
            android:label="@string/title_activity_testdraw" >
        </activity>
        <activity
            android:name=".Imgeview"
            android:label="@string/title_activity_imgeview" >
        </activity>
        <activity
            android:name=".musicplay"
            android:label="@string/title_activity_musicplay" >
        </activity>
    </application>

</manifest>
